body {
    text-align: center;
    font-family: sans-serif;
    background: url("background-image 15.55.32.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
    text-shadow: 0 0 5px #fff;
}

h1, #countdown {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

#countdown span {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5px;
}

#calendar {
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    width: 14.2857%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.current-month td {
    background-color: #f2f2f2;
}

.passed-day {
    text-decoration: line-through;
    color: #ccc;
}

#calendar-body {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

#monthAndYear {
    font-size: 48px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*Buttons Styling*/
#prev, #next {
  background-color: #008CBA; /* Blue background */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 12px; /* Rounded edges */
}

#prev:hover, #next:hover {
  background-color: #45a049;
}

#next {
  background-color: #008CBA; /* Blue background */
  text-align: right;
}

#next:hover {
  background-color: #45a049;
}

#calendar-header {
  text-align: center;
}

.prev-button-cell, .month-name-cell, .next-button-cell {
  border: none;
}

.next-button-cell {
  text-align: right;
}

.prev-button-cell {
  text-align: left;
}

.past div {
    position: relative;
}

.past div::before, .past div::after {
    content: "";
    position: absolute;
    background-color: #ff7272; /* red color for the cross */
    width: 5px; /* Adjust the width of the cross */
    height: 100%; /* Adjust the height of the cross */
    left: 50%;
    top: 0;
    opacity: 50%;
}

.past div::before {
    transform: rotate(45deg);
    transform-origin: center;
}

.past div::after {
    transform: rotate(-45deg);
    transform-origin: center;
}

.present {
    background-color: #87CEEB; /* Highlights the current day's cell with sky blue */
}

a.white-out {
    position: relative;
    display: inline-block;
}

a.white-out::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,1);
}

#calendar {
  border-collapse: collapse;
}

#calendar th, #calendar td {
  border: 3px solid #fff;
}
